Flask
dash
pandas
plotly
SQLAlchemy
flask_sqlalchemy
APScheduler
gunicorn
psycopg2-binary
requests
praw
nltk
numpy==1.23.5  
tensorflow
vaderSentiment
spacy
geopy
folium
flask_apscheduler
python-dotenv
torch
sentence_transformers
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
